// app global css in SCSS form
body {
  min-width: 1200px;
  background: url('https://cdn.discordapp.com/attachments/886791383740985464/886899207678611506/bg.png') no-repeat;
  background-size: cover;
}
